.Row4 {
    margin-top: 100px;
}

.pic3 {
   
   margin-left: 1226px;
   margin-top: -209px;
}

.large-text2 {
    margin-top: 214px;
    margin-left: -1175px;
    color: #333c2a;
    font-family: Poppins;
    font-size: 37px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    line-height: 76px;
    text-align: center;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.small-text2 {
    margin-left: 248px;
    color: #333c2a;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}